.App {
  background: rgb(27, 40, 56);
  height: auto;
  min-height: 100vh;
}
label, h3, h1, p{
  color: white;
}
.placeholder-light::placeholder{
  color: white;
  opacity: 0.7;
}

.modal-content{
  border-color: black;
  background-color: #4e515e;
  color: white;
}
